
body {
  /*padding-bottom: 400px;*/
}

a{
    color: red;
    font-size: 3vw;
    font-weight: bold;
    text-shadow: .5px .5px grey;
}

.icon-bar{
  color: blue;
}
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.navbar-wrapper > .container {
    /*position: absolute;*/
  padding-right: 0;
  padding-left: 0;
  background-color: rgba(255, 255, 255, .1);
}

.navbar > .container >
.navbar-wrapper .navbar {
  position: absolute;
}
.navbar-wrapper .navbar .container {
  width: auto;
    position: absolute;
    background-color: rgba(255, 255, 255, .1);


}


.dropdown-menu li a{
  /*color: blue;*/
}

.dropdown-toggle{
  background-color: white;
}

.dropdown-menu li a{
  color: rgb(18, 54, 170);
  background-color: rgba(255,255,255, .75);
}


.carousel {
  /*position: relative;*/
  height: 600px;
  margin-bottom: 50px;
  /*border: 3px solid green;*/

}
img{
  position: relative;
  /*height: a;*/
  /*border: 4px solid red;*/
}



/*.carousel-caption {
  position: absolute;
  z-index: 10;
  border: 1px solid orange;
  color:red;
  font-size: 2.5vw;
  padding-bottom: 10%;
  height: .5vw;
}*/

.carousel .item {
  position: relative;
  /*height: 500px;*/
  background-color: rgb(0, 0, 255);
  /*padding-bottom: 500%;*/
  margin: auto;
}
.carousel-inner > .item > img {
  /*position: relative;*/
  top: 0;
  left: 0;
  min-width: 100%;
  /*height: 500px;*/
  /*border: 5px solid purple;*/
}

.carousel-caption{
  /*color: pink;*/
  position: absolute;
  /*font-size: 3.9vw;*/
  /*border: 3px dotted black;*/
  min-width: auto;
  min-height: auto;


}

 .sticky{
   /*position: absolute;*/
   color: white;
    font-size: 3.9vw;
    /*height: 500px;*/
}

.btn{
  /*min-width: 50%;*/
  color: white;
}

/*.btn a{
  height: 1vw;
}*/
/*
.marketing .col-sm-4 {
  margin-bottom: 20000px;
  text-align: center;
  position: fixed;
  /*color: orange;*/

/*}*/
/*.marketing h2 {
  font-weight: normal;*/
  /*color: orange;*/
/*}*/

/*.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
  /*color: blue;*/
/*}*/



.featurette-divider {
  margin: 80px 0;
}


.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
